
<h2>Login</h2>

<form method='POST' action='/session'>

  <div>
    <label for="login">Login:</label>
    <br />
    <input type="text" id="login" name="login" size="30" autocomplete="off" />
  </div>

  <div>
    <label for="password">Password:</label>
    <br />
    <input type="password" id="password" name="password" size="30" autocomplete="off" />
  </div>

  <input type="image" class="icon" src="/icons/ok.png" border="0" alt="Submit" />

</form>
