


<form method="post" action="/companies/<%= company.id %>?_method=PUT" >

	<h1>
		Editar Fábrica

    	<input type="image" class="icon" src="/icons/save.png" border="0" alt="Submit" />
		<a href="/goback"><img class="icon" src="/icons/cancel.png"></a>
	</h1>

    <% include _form.ejs %>

   	<input type="image" class="icon" src="/icons/save.png" border="0" alt="Submit" />
	<a href="/goback"><img class="icon" src="/icons/cancel.png"></a>

</form>
