
<h1> 
    Tipo de Objetivo: 

    <a href="/goback"><img class="icon" src="/icons/back.png"></a>

    <a href="/targettypes/<%= targettype.id %>/edit"><img class="icon" src="/icons/edit.png"></a>
</h1>

<ul>
    <li>
        <b>Nombre</b>: <%= targettype.name %>
    </li>
</ul>
