<form method='post' action='/posts'>

    <h1>
        Nuevo Post

        <input type="image" class="icon" src="/icons/save.png" border="0" alt="Submit"/>

        <a href="/reload"><img class="icon" src="/icons/cancel.png"></a>

    </h1>


    <%- include _form.ejs %>

</form>

