<form method='post' action='/posts/<%= post.id %>/attachments' enctype='multipart/form-data'>

    <h1>
        Añadir Nuevo Adjunto:

        <input type="image" class="icon" src="/icons/save.png" border="0" alt="Submit"/>
        <a href="/goback"><img class="icon" src="/icons/cancel.png"></a>
    </h1>

    <label for="attachment">Seleccione la imagen, película o el documento a adjuntar (máximo 20MB):</label>

    <br/>

    <input type="file" id="attachment" name="attachment" />


</form>

